body{
  margin:0%;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  background-color:#fdf2ce;
  user-select: none;
}
.container{
  background-color: #ffffff00;
}
.center {
  text-align: center;
  justify-content: center;
  display: flex;
}
p{
  position: relative;
  width: 400px;
  padding: 10px;
  font-size: 40px;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff5f5f;
}
.lossC{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  top:0px;
}
.loss {
  max-width: 750px;
  max-height: 500px;
  width: 75%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.87);
}
.playAgain {
  width: 200px;
  border-width: 2px;
  border-color: #605858;
  border-radius: 10px;
  height: 50px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}

p.lossText {
  position: relative;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
